body {
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  margin: 10px;
}

/*div.background {
  background: url("") no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 122vh;
  width: 80%;
  margin: 50px 50px 50px 150px;
}*/
/*contact map css*/
.googlemap {
        position: relative;
        padding-left: 50%;
        padding-bottom: 30%; /* 4:3 ratio*/
        height: 0;
        overflow: hidden;
}

.googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.transbox {
  margin: 30px;
  padding-bottom: 75 px;
  background-color: #ffffff;
  border: 1px solid white;
  opacity: 0.9;
  filter: alpha(opacity=90);
   /* For IE8 and earlier */
}
#address1 {
  margin: 2px;
}
#address2 {
  margin: 2px;
  padding-top: 50px;
}
#contact1 {
  position: relative;
  margin-top: 50px;

}
#contact2 {
  position: relative;
  left: 700px;
  margin-top: -500px;
}
#contact3 {
     margin:0;
    padding:1px;
}
#thisimg {
  width: 100%;
  height: auto;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: black;
}

td, th {
   text-align: center;
  padding: 8px;
  font-weight: bold;

}
#theader {
  text-align: center;
  font-size: 36px;
}

#tdesc {
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.yomomma {
  width: 325px;
  height: 325px;
  float: left;
  margin-right: 25px;
}

.yomomma2 {
  width: 325px;
  height: 325px;
  clear: left;
  margin-left: 25px;
}

#str8list {
  font-weight: 200;
  clear: right;
  margin-left: 60px;
  font-size: 16px;
}

#test1 {
  margin-top: 80px;
}

#woot {
  position: relative;
  left: 400px;
  margin-top: 75px;
}

#zing {
  width: 325px;
  height: 325px;
  position: relative;
  margin-top: 200px;
  left: 300px;
}

#test2 {
  margin-top: 50px;
}

#header1 {
  margin-top: 50px;
  text-align: center;
}

#imgsize {
  height: 300px;
  width: 200px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

div > h1 {
  font-size: 1.8rem;
}

nav > p {
  cursor: pointer;
}
/*.pill-black, .pill-white {
  border: 0.5px solid;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.pill-black {
  background-color: #000000;
  color: #FFFFFF;
}*/


/*a {
  color: white;
}

/* Customizations of Bootstrap classes */

header .row {
  display: flex;
  align-items: center;
}

.col-sm-4 p {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
}

/*.col-md-10 {
  margin: 25px 15px 15px;
  min-width: 60px;
  padding: 0px;

}*/

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.caption {
  text-align: center;
}

/*.jumbotron {
  display: flex;
  align-items: center;
  height: 675px;
  background-image: url("./images/RP_Home1.png");
  background-size: cover;
  background-position: center;*/
  
}

.img-responsive {
  background-size: cover;
}

.jumbotro h2 {
  background-color: #FFFFFF;
  display: inline-block;
  color: black;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotro h3 {
  display: block;
  color: black;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.btn-primary {
  color: black;
  background-color: #FFFFFF;
  border-color: black;
}

.col-sm-1 img {
  min-width: 32px;
  min-height: 33px;
}

#logo {
  margin-left: 10px;
}

#social {
  position: relative;
  left: 700px;
}

#des {
  color: black;
  margin-top: 50px;
}

#thumbpic {
  margin-top: 25px;
}

/*#address {
  color: black;
}*/

#aboutphoto {
  background-image: url("./images/refinish.jpg")
}

#pricepage {
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 900px;

}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px 10px;
  margin: auto;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
/* Footer CSS */
#lab_social_icon_footer {
  padding: 40px 0;
  background-color: white;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

